.login{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
}
.login button{
    width: 400px;
    height: 50px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 30px;
    margin: 3px;
}
.login img{
    width: 40px;
    position: relative;
    right: 90px;
}

.loginTitle{
    text-align: center;
}