.booking{
    border-radius: 20px;
    padding: 20px;
    width: 900px;
}
.booking-heading{
    background-color: #f5f6fa;
    padding: 10px;
    border-radius: 20px;
}
.course-name p{
    margin-left: 50px;
    width: 200px;
}
.course-payment p{
    margin-left: 125px;
}
.course-status{
    margin-left: 140px;
}