.name{
    width: 200px;
}
.email{
    position: relative;
    right: 60px;
    width: 200px;
}
.course{
    position: relative;
    right: 70px;
    width: 200px;
}
.payment{
    position: relative;
    right: 90px;
}
