.name{
    width: 150px;
}
/* .fuel, .cost{
    position: relative;
    right: 55px;
} */
.email{
    position: relative;
    right: 60px;
    width: 200px;
}
.course{
    position: relative;
    right: 70px;
    width: 200px;
}
.payment{
    position: relative;
    right: 90px;
}
