.review-form{
    background-color: lightblue;
    border-radius: 10px;
}
.review-form form{
    width: 700px;
    position: relative;
}
.review input{
    width: 600px;
    height: 50px;
    border-radius: 5px;
    border: none;
}
.opinion textarea{
    width: 600px;
}
.review label{
    font-weight: 700;
}
.review{
    border-radius: 20px;
}

.save-button input{
    background-color: #ff4880;
    border: none;
    width: 120px;
    height: 45px;
    font-size: 20px;
    color: white;
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
}
.save-button div{
    margin-right: 30px;
}